body {
    font-family: Arial, sans-serif;
    background: #fff0f3;
    color: #800f2f;
    text-align: center;
}

header {
    background: #ffccd5;
    padding: 15px;
}

nav a {
    margin: 10px;
    color: #c9184a;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    background: #c9184a;
    border: none;
    cursor: pointer;
    color: white;
}

.gallery {
    display: flex;
    justify-content: center;
}

.card {
    background: #ffe5ec;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}
